body {
    background-color: bisque;
}
header {
    text-align: center;
    color:cadetblue;
}
.user_name {
    color: aqua;
}
.lloll {
    width: 150px;
    height: 150px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 8px;
    overflow: auto;
    line-height: 1.6;
}
/* #timeout a{
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
} */
.timeout a{
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.school {
    text-indent: 100px;
    letter-spacing: 3px;
    line-height: 5px;
    word-spacing: 4px;
    width: 300px;
    background-color: red;
    white-space: nowrap;
}
.school span {
    margin-left: 10px;
}

.counter  div{
    counter-increment: counter;
    position: relative;
}

.counter .gg::before {
    content: attr(text-link);
    padding: 6px;
    background-color: #343434;
    color: white;
    display: none;
}

.counter .gg:hover:before {
    display: inline-block;
}

.counter div::after {
    content: counter(counter);
    position: absolute;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    right: 430px;
    top: 50%;
    margin-top: -10px;
}