.parent {
    width: 600px;
    height: 200px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(5, 250px);
}
div {
    /* height: 100%; */
    margin: 25px;
    font-size: 20px;
    background-color: rgb(10, 173, 160);
    color: white;
    text-align: center;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

/* 
.one {
    width: 5%;
     display: flex; 
    justify-content: center;
    align-items: center;
    justify-items:flex-end;
}

.two {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.three {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
} */